body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
}

header {
    text-align: left;
    margin-bottom: 20px;
}

#logo {
    width: 100%; /* Use percentage for responsive sizing */
    max-width: 400px; /* Maximum width to control logo size */
}

form {
    max-width: 600px;
    width: 100%; 
    margin: 0; 
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

label, select, input, button {
    width: 100%; /* Full width for better control and responsiveness */
    box-sizing: border-box; /* Include padding and border in width */
    text-align: left; /* Ensure text alignment is left */
}

select, input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Ensure the button is a block element to fill width */
    margin-top: 20px;
    margin-bottom: 20px; /* Spacing after the button */
}

button:hover {
    background-color: #004080;
}

#result {
    display: none; /* Initially hidden */
    background-color: #e8f4fc;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #b6dfff;
    margin-top: 20px;
    font-size: 18px;
    color: #006600;
    text-align: left;
}

/* Media Query for Small Devices */
@media (max-width: 600px) {
    #logo {
        max-width: 300px; /* Smaller logo for smaller screens */
    }
}
