body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#logo {
    width: 300px; /* Adjust the size as needed */
}

label, select, input, button {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 300px; /* Set a fixed width for form elements */
}

button {
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003d80;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    color: green;
}
